name: 'Build and Publish to Cloudflare Pages'

on:
  push:
    branches: ['master']
    paths:
      - client/**

jobs:
  publish:
    defaults:
      run:
        working-directory: ./client

    name: Publish to Cloudflare Pages
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    strategy:
      matrix:
        node-version: [22.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Print Directory Tree
      - name: Open Directory Tree
        run: tree

      # Install PNPM
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest
          run_install: false
          package_json_file: './client/package.json'

      # Install Nodejs
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: pnpm
          cache-dependency-path: ./client/pnpm-lock.yaml

      # Run a build step
      # Install  Dependency
      - name: Install Dependencies
        run: pnpm install --no-frozen-lockfile
      - name: Building the App
        run: pnpm build:prod
        env:
          PUBLIC_GITHUB_SHA: ${{ github.sha }}
          PUBLIC_VAPID_KEY: ${{ secrets.PUBLIC_VAPID_KEY }}
          PRIVATE_VAPID_KEY: ${{ secrets.PRIVATE_VAPID_KEY }}
          PUBLIC_SUPER_SECRET: ${{ secrets.PUBLIC_SUPER_SECRET }}
          PUBLIC_API_SERVER: ${{ secrets.PUBLIC_API_SERVER }}
          PUBLIC_PB_SERVER: ${{ secrets.PUBLIC_PB_SERVER }}
          PUBLIC_OPR_PROJECT_KEY: ${{ secrets.PUBLIC_OPR_PROJECT_KEY }}
          PRIVATE_OPR_API_KEY: ${{ secrets.PRIVATE_OPR_API_KEY }}

      # Cloudflare Step
      - name: Publish to Cloudflare Pages
        uses: cloudflare/wrangler-action@v3
        with:
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy ./client/.svelte-kit/cloudflare --project-name=gcsbhelper --branch=master
          packageManager: pnpm

      - name: print deployment-url
        env:
          DEPLOYMENT_URL: ${{ steps.deploy.outputs.deployment-url }}
        run: echo $DEPLOYMENT_URL
